.sale
    width: 100%
    margin: 0 auto
    padding: 40px 0

    // .sale__inner

    &__inner
        width: 100%
        margin: 0 auto

    // .sale__title

    &__title
        text-align: center
        margin-bottom: 40px
    // .sale__row

    &__row
        text-align: center
    // .sale__item

    &__item
        display: inline-block
        padding: 20px
        border: 1px solid $accent-color
        width: 100%
        max-width: 300px
        min-width: 200px
        position: relative
        min-height: 467px
        margin: 20px 0 20px 20px

    // .sale__icon

    &__icon
        position: absolute
        right: 15px
        top: 15px
        color: red
        font-size: 30px

    // .sale__img-wrapper
    &__img-wrapper
        width: 100%
        overflow: hidden
        position: relative
        height: 150px
        margin-bottom: 20px

    // .sale__img

    &__img
        height: 150px

    // .sale__item-title

    &__item-title
        margin-bottom: 20px
    // .sale__description

    &__description
        margin-bottom: 20px
    // .sale__price

    &__price
        margin-bottom: 20px


